* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    min-width: 550px;
}

nav {
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 7.5px rgba(0,0,0,0.1);
}

nav > img {
    margin: 0 0 0 30px;
    width: 82px;
}

main {
    font-family: 'Poppins', sans-serif;
}

main > h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 110%;
    padding-left: 36px;
    margin: 32px 0 0 0;
}

main > p {
    width: 320px;
    padding-left: 36px;
    margin: 16px 0 0 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 110%;
}

main > img {
    width: 400px;
    display: block;
    margin: 26px auto 0 auto;
}